@import "./utils/variables";
@import "./utils/keyframes";

@import "./base/base";

@import "./components/burger";
@import "./components/icon_socials";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/services";
@import "./layout/portfolio";
@import "./layout/footer";
@import "./layout/project_item";

