.services {
    background: var(--light);

}
 .section-title {
    text-align: center;
    font-weight: 400;
} 
.service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark)_10;
    
    width:90px;
    height: 90px;
    border: 5px solid var(--dark)_10;
    border-radius: 50%;
}
.service__icon svg{
    height: 35px;
    
}
.service__content {
    flex: 1;
    margin:auto;
    h3 {
        margin-bottom: 1rem;
        font-weight: 500;
    }
    p {

        word-wrap: break-word;
    }
}
.service {
    margin: 15px 0;
    margin-left: 20px;
} 

@media screen and (max-width:1170px) {
    .service {
        text-align: center;
    }
    .service__icon {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .service__content {
        h3 {
            margin-bottom: 1rem;
            font-size: 2rem;
        }
    
    }
}
@media screen and (min-width: 1171px) {
    .service{
        display: flex;
        margin:2rem 0;
        margin-left: 20vw;
    }
    .service__icon {
        margin-right: 2rem;
        
    }
}