@keyframes slideInLeft {
    from {
        transform: translateX(-110%);
    }
    to {
        transform: translateX(0);
    }

}
@keyframes slideInRight {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0);
    }

}