:root {

    --light: #FFF;
    --light_10: #EEE;


    --dark: #000;
    --dark_10: #333;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--dark_10);
}


/* declaration d'un style pour les balises specifiques */
h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
h1, .h1 {
font-size: 3.1rem;
font-weight: 700;
}
h2, .h2 {
font-size: 2.8rem;
font-weight: 500;

}
h3, .h3 {
font-size: 2.1rem;
font-weight: 300;
}
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    padding-left: 2rem;
}
li {
    margin-bottom: 1rem;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid__item {
    // flex-grow: 1;
    // flex-shrink: 0;
    padding: 1rem;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;  /* l'image ne deborde pas de son container*/
    height: auto;  /* l'image garde son ratio*/
}
/* #################################### */

/* tous les containers */
.container {
    padding: 1rem 2rem;
}

@media screen and (min-width: 750px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        
    }
    
}
/* #################################### */

/* toutes les sections*/
section {
    padding: 8rem 0;
}
.section-header {
    text-align: center;
}


.section-title{
    margin-top: 0;
    font-size: 3.8rem;
}
@media screen and (min-width:750px) {
    .section-title{
        font-size: 4.8rem;
    }
    
}

/* #################################### */

/* toutes les images (seo)*/
img {
    max-width: 800px;
    max-height: 600px;
}